/* [project]/src/components/SearchModal/SearchModal.module.scss.module.css [app-client] (css) */
.SearchModal-module-scss-module__XE9eQa__header-search {
  background-color: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all .3s;
  visibility: hidden;
  width: 100%;
}

.SearchModal-module-scss-module__XE9eQa__header-search > form {
  background: #fff;
  display: flex;
  height: 98px;
  width: 100%;
}

.SearchModal-module-scss-module__XE9eQa__header-search.SearchModal-module-scss-module__XE9eQa__is-active {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
  z-index: 10;
}

.SearchModal-module-scss-module__XE9eQa__header-search__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 532px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  transition: all .3s;
  width: 100%;
}

.SearchModal-module-scss-module__XE9eQa__header-search__field {
  flex: 1;
  max-width: 100%;
  position: relative;
  transition: all .3s;
}

.SearchModal-module-scss-module__XE9eQa__header-search__control {
  background-color: #d4d4d466;
  border: 0;
  border-radius: 33px;
  box-shadow: none;
  height: 50px;
  padding: 0 20px;
  font-size: 1.4rem;
}

.SearchModal-module-scss-module__XE9eQa__homepage-search__submit {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #0000;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchModal-module-scss-module__XE9eQa__header-search.SearchModal-module-scss-module__XE9eQa__is-active {
  z-index: 1000;
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-header-search__float {
  height: 100%;
  pointer-events: visible;
  position: fixed;
  transition: all .3s;
  width: 100%;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-search-content.SearchModal-module-scss-module__XE9eQa__is-active {
  background: #fff;
  border-radius: 10px;
  display: block;
  margin: 10px auto 0;
  overflow: hidden;
  width: 1000px;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-search-content {
  border-bottom: 1px solid #d9d9d9;
  display: none;
  transition: all .2s;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-search-content__wrapper {
  background-color: #fff;
  min-height: 200px;
  position: relative;
  z-index: 10;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-header-search.SearchModal-module-scss-module__XE9eQa__is-active {
  display: block;
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-header-search__suggestions {
  align-content: center;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  margin-bottom: 30px;
  padding: 20px 80px;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-header-search .SearchModal-module-scss-module__XE9eQa__search-suggestions {
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-header-search .SearchModal-module-scss-module__XE9eQa__search-suggestions li {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}

.SearchModal-module-scss-module__XE9eQa__grid__column {
  box-sizing: border-box;
  min-height: 1px;
  padding: 9px;
  position: relative;
  vertical-align: top;
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.SearchModal-module-scss-module__XE9eQa__grid {
  display: -webkit-flex !important;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-header-search__wrapper {
  padding: 0 80px 25px;
}

.SearchModal-module-scss-module__XE9eQa__grid--four-columns > .SearchModal-module-scss-module__XE9eQa__grid__column {
  width: 25%;
}

.SearchModal-module-scss-module__XE9eQa__product-grid {
  padding-bottom: 12px;
  position: relative;
}

.SearchModal-module-scss-module__XE9eQa__product-grid__thumbnail {
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.SearchModal-module-scss-module__XE9eQa__product-grid__image:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 133.779%;
  width: 100%;
}

.SearchModal-module-scss-module__XE9eQa__product-grid__image {
  position: relative;
}

.SearchModal-module-scss-module__XE9eQa__product-grid__image img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  position: absolute;
  top: 0;
  width: 100%;
}

.SearchModal-module-scss-module__XE9eQa__product-grid .SearchModal-module-scss-module__XE9eQa__product-grid__icon-thumbnail {
  content: "";
  position: absolute;
  height: auto;
  z-index: 1;
  -o-object-fit: contain;
  object-fit: contain;
  bottom: 0;
  left: 0;
  width: 100%;
}

.SearchModal-module-scss-module__XE9eQa__product-grid__thumbnail .SearchModal-module-scss-module__XE9eQa__product-grid__tags {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 22px;
  width: 52px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.SearchModal-module-scss-module__XE9eQa__product-grid__tags--sale {
  color: #fff;
  background: #f95d03 !important;
}

.SearchModal-module-scss-module__XE9eQa__product-grid__content {
  min-height: 94px;
}

.SearchModal-module-scss-module__XE9eQa__product-grid > * {
  transition: all .3s;
}

.SearchModal-module-scss-module__XE9eQa__product-grid__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: .275rem;
}

.SearchModal-module-scss-module__XE9eQa__product-grid__sub-title {
  font-size: 13px;
  margin: 2px 0;
}

.SearchModal-module-scss-module__XE9eQa__product-prices {
  align-items: center;
  display: flex;
  flex-flow: row-reverse;
  font-size: 14px;
  font-weight: 400;
  justify-content: flex-end;
}

.SearchModal-module-scss-module__XE9eQa__product-prices span {
  align-items: center;
  background: #000;
  border-radius: 6px;
  background: #273bcd;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  height: 18px;
  margin-left: 10px;
  color: #fff;
  padding: 0 5px;
}

.SearchModal-module-scss-module__XE9eQa__product-prices del {
  color: #c4c4c4;
  margin-left: 10px;
}

.SearchModal-module-scss-module__XE9eQa__product-prices ins {
  color: #242424;
  font-weight: 700;
  text-decoration: none;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-header-search__viewmore.SearchModal-module-scss-module__XE9eQa__is-active {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.SearchModal-module-scss-module__XE9eQa__btn.SearchModal-module-scss-module__XE9eQa__btn-primary {
  background-color: #2f5acf;
  border: none;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-header-search__background {
  background: #0009;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 100%;
}

.SearchModal-module-scss-module__XE9eQa__one-whole {
  width: 100%;
}

.SearchModal-module-scss-module__XE9eQa__spotlight-header-search__viewmore.SearchModal-module-scss-module__XE9eQa__is-active {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.SearchModal-module-scss-module__XE9eQa__btn {
  align-items: center;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  padding: 0 30px;
  transition: all .2s;
  font-size: 1.4rem;
}

.SearchModal-module-scss-module__XE9eQa__btn.SearchModal-module-scss-module__XE9eQa__btn-primary {
  background-color: #2f5acf;
  border: none;
}

@media (width <= 1660px) {
  .SearchModal-module-scss-module__XE9eQa__spotlight-header-search__wrapper {
    padding: 0 80px;
  }
}

@media only screen and (width <= 1440px) {
  .SearchModal-module-scss-module__XE9eQa__large-grid--four-columns > .SearchModal-module-scss-module__XE9eQa__grid__column {
    width: 25%;
  }
}

/*# sourceMappingURL=src_components_SearchModal_SearchModal_module_scss_module_b52d8e.css.map*/