/* [project]/src/Layout/User/Header/Header.module.scss.module.css [app-client] (css) */
.Header-module-scss-module__n5YoZW__header-wrapper {
  height: auto;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.Header-module-scss-module__n5YoZW__header-menu {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  position: relative;
  transition: all .3s;
}

.Header-module-scss-module__n5YoZW__header__inner {
  align-items: stretch;
  display: flex;
  height: 68px;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.Header-module-scss-module__n5YoZW__header__toggle {
  display: none;
}

.Header-module-scss-module__n5YoZW__header__logo {
  height: 100% !important;
}

.Header-module-scss-module__n5YoZW__header__logo a {
  align-items: center;
  height: 100%;
  display: flex. header__logo a img;
  display-height: 50px;
  display-max-width: 100%;
  display-image-rendering: -webkit-optimize-contrast;
}

.Header-module-scss-module__n5YoZW__spec-nav span {
  --tw-text-opacity: 1;
  color: rgb(39, 59, 205, var(--tw-text-opacity));
  font-weight: 600;
  text-align: end;
  position: relative;
}

.Header-module-scss-module__n5YoZW__spec-nav span span {
  font-weight: 400;
  top: -80%;
  right: 0;
  position: absolute;
}

.Header-module-scss-module__n5YoZW__nav__sub.Header-module-scss-module__n5YoZW__nav__sub-active {
  height: 100%;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 1;
  visibility: visible;
}

.Header-module-scss-module__n5YoZW__nav__sub-item {
  align-items: center;
  cursor: auto;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  list-style: none;
  padding: 0 24px;
}

.Header-module-scss-module__n5YoZW__nav__sub-item > a {
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  text-transform: uppercase;
  transition: all .3s;
  white-space: nowrap;
}

.Header-module-scss-module__n5YoZW__nav__sub.Header-module-scss-module__n5YoZW__nav__sub-active {
  height: 100%;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 1;
  visibility: visible;
}

.Header-module-scss-module__n5YoZW__nav__sub {
  display: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  visibility: hidden;
}

.Header-module-scss-module__n5YoZW__header__actions {
  align-items: center;
  display: flex;
}

.Header-module-scss-module__n5YoZW__header-actions-search__box {
  position: relative;
}

.Header-module-scss-module__n5YoZW__header-actions-search__control {
  background-color: #0000;
  border: 1px solid #d1d1d1;
  border-radius: 33px;
  box-shadow: none;
  height: 45px;
  padding: 0 40px 0 20px;
}

.Header-module-scss-module__n5YoZW__header-actions-search__button {
  height: unset;
  position: absolute;
  right: 14px;
  top: 10px;
  width: unset;
  z-index: 10;
}

.Header-module-scss-module__n5YoZW__header-actions__button {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.Header-module-scss-module__n5YoZW__header__toggle > div {
  height: 50px;
  width: 50px;
}

.Header-module-scss-module__n5YoZW__menu-toggle {
  cursor: pointer;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.Header-module-scss-module__n5YoZW__menu-toggle span:first-of-type {
  top: calc(50% - 5px);
}

.Header-module-scss-module__n5YoZW__menu-toggle .Header-module-scss-module__n5YoZW__menu-toggle span:nth-of-type(2) {
  left: 45%;
  width: 10px;
}

.Header-module-scss-module__n5YoZW__menu-toggle span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.Header-module-scss-module__n5YoZW__menu-toggle span {
  background-color: #000;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all .3s;
  width: 16px;
}

.Header-module-scss-module__n5YoZW__menu-toggle__search {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all .3s;
}

.Header-module-scss-module__n5YoZW__header-actions__button .Header-module-scss-module__n5YoZW__counts {
  align-items: center;
  background-color: #f9f86c;
  bottom: 5px;
  color: #fff;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  height: 15px;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 8px;
  width: 15px;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(224, 7, 2, var(--tw-bg-opacity)) !important;
  border-radius: 9999px !important;
}

@media (width <= 768px) {
  .Header-module-scss-module__n5YoZW__mobile--hidden {
    display: none !important;
  }
}

@media (width <= 991px) {
  .Header-module-scss-module__n5YoZW__header__inner {
    height: 58px;
    padding-left: 0;
    padding-right: 15px;
  }

  .Header-module-scss-module__n5YoZW__header__toggle {
    display: flex;
    flex: 1;
    gap: 2px;
    justify-content: flex-start;
  }

  .Header-module-scss-module__n5YoZW__header__actions {
    flex: 1;
    justify-content: flex-end;
  }
}

@media screen and (width >= 769px) {
  .Header-module-scss-module__n5YoZW__header-actions__button {
    flex: 0 0 48px;
  }
}

@media (width >= 769px) and (width <= 991px) {
  .Header-module-scss-module__n5YoZW__header__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .Header-module-scss-module__n5YoZW__tablet--visible {
    display: block !important;
  }

  .Header-module-scss-module__n5YoZW__tablet--hidden {
    display: none !important;
  }
}

@media (width >= 992px) and (width <= 1200px) {
  .Header-module-scss-module__n5YoZW__nav__sub-item {
    padding: 31px 10px;
  }

  .Header-module-scss-module__n5YoZW__nav__sub-item > a {
    font-size: 1.2rem;
  }
}

@media (width <= 1660px) {
  .Header-module-scss-module__n5YoZW__nav__sub-item > a {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=src_Layout_User_Header_Header_module_scss_module_b52d8e.css.map*/