/* [project]/src/components/CardProduct/CardProduct.module.scss.module.css [app-client] (css) */
.CardProduct-module-scss-module__OiA18q__product-card {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.CardProduct-module-scss-module__OiA18q__product-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.CardProduct-module-scss-module__OiA18q__product-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: #f5f5f5;
  aspect-ratio: 672 / 990;
}

.CardProduct-module-scss-module__OiA18q__product-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.CardProduct-module-scss-module__OiA18q__product-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: opacity .5s;
}

.CardProduct-module-scss-module__OiA18q__primary-image {
  opacity: 1;
}

.CardProduct-module-scss-module__OiA18q__hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.CardProduct-module-scss-module__OiA18q__image-hover .CardProduct-module-scss-module__OiA18q__primary-image {
  opacity: 0;
}

.CardProduct-module-scss-module__OiA18q__image-hover .CardProduct-module-scss-module__OiA18q__hover-image {
  opacity: 1;
}

.CardProduct-module-scss-module__OiA18q__product-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 100px;
  background-color: #4142df;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 4px 10px;
  z-index: 1;
}

.CardProduct-module-scss-module__OiA18q__product-rating {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 4px;
  padding: 3px 8px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  gap: 2px;
  z-index: 1;
}

.CardProduct-module-scss-module__OiA18q__rating-score {
  font-weight: 600;
}

.CardProduct-module-scss-module__OiA18q__rating-star {
  color: #e9b52f;
}

.CardProduct-module-scss-module__OiA18q__review-count {
  color: #2f5acf;
  font-size: 12px;
}

.CardProduct-module-scss-module__OiA18q__quick-size-options {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fffffff2;
  padding: 12px;
  transform: translateY(0);
  transition: transform .3s;
  z-index: 2;
}

.CardProduct-module-scss-module__OiA18q__size-label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

.CardProduct-module-scss-module__OiA18q__size-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.CardProduct-module-scss-module__OiA18q__size-button {
  padding: 6px 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all .2s;
}

.CardProduct-module-scss-module__OiA18q__size-button:hover {
  background-color: #f1f1f1;
}

.CardProduct-module-scss-module__OiA18q__product-promo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.CardProduct-module-scss-module__OiA18q__promo-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.CardProduct-module-scss-module__OiA18q__promo-text {
  color: #333;
}

.CardProduct-module-scss-module__OiA18q__product-info {
  padding: 0 4px;
}

.CardProduct-module-scss-module__OiA18q__color-options-container {
  margin-bottom: 8px;
}

.CardProduct-module-scss-module__OiA18q__color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
}

.CardProduct-module-scss-module__OiA18q__color-option {
  width: 38px;
  height: 24px;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  transition: transform .2s;
  margin-top: 1px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.CardProduct-module-scss-module__OiA18q__color-option:hover {
  transform: scale(1.1);
}

.CardProduct-module-scss-module__OiA18q__color-option.CardProduct-module-scss-module__OiA18q__selected {
  box-shadow: 0 0 0 1.5px #fff, 0 0 0 3px #000;
}

.CardProduct-module-scss-module__OiA18q__more-colors-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: all .2s;
  padding: 0;
}

.CardProduct-module-scss-module__OiA18q__more-colors-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

.CardProduct-module-scss-module__OiA18q__product-title {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 8px;
  margin-top: 12px;
  color: #333;
  line-height: 1.4;
}

.CardProduct-module-scss-module__OiA18q__product-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.CardProduct-module-scss-module__OiA18q__current-price {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.CardProduct-module-scss-module__OiA18q__discount-badge {
  background-color: #1435c3;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 4px;
}

.CardProduct-module-scss-module__OiA18q__original-price {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

.CardProduct-module-scss-module__OiA18q__product-card:hover .CardProduct-module-scss-module__OiA18q__product-title {
  color: #1435c3;
}

/*# sourceMappingURL=src_components_CardProduct_CardProduct_module_scss_module_b52d8e.css.map*/